<div routerLink="/comment/{{post.id}}"   class="topics"  *ngFor="let post of posts">
    <img src="{{post?.photoUrl || './assets/user.png'}}" class="rounded-circle userPhoto">
          <div  class="username">{{post.userName}}</div>
          <div class="TitleContent">
            <div *ngIf="post.content.length >=40" class="PostTitle">{{mediumLongcontent(post.title)}}</div>
            <div *ngIf="post.content.length <40" class="PostTitle">{{post.title}}</div>
              <div *ngIf="post.content.length <100" class="PostContent">{{post.content}}</div>
              <div *ngIf="post.content.length >=100" class="PostContent">{{longContent(post.content)}}</div>
              
          </div>
          <div class="PostCategory">{{post.categoryName}}</div>
          <div class="date">
            {{post?.created | timeago}}
        </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="pagination && posts.length>=1">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
  </div>
  