<div class="row">
  <div class="col-md-2" >
    <app-categories></app-categories>
  </div>
  <div class="col-md-10" >
    
  <form *ngIf="(accountService.currentUser$ | async) !== null" class="commentForm" #PostForm="ngForm" (ngSubmit)="AddPost()" autocomplete="off">
    <h2>Create Post!</h2>  
    <input
        name="title"
  
        [(ngModel)]="model.title" 
        type="text" 
        placeholder="Title"
        class="form-control">
  
      <textarea
        name="content"
        rows="5"
        [(ngModel)]="model.content" 
        type="textarea" 
        placeholder="Content"
        class="form-control">
          
      </textarea>
      <div class="categorySelect">
      <label >Choose a category:</label>
    <select class="selectC" name="categoryId" id="categoryId" [(ngModel)]="model.categoryId" (change)="changeWebsite($event)">
      <option *ngFor="let category of categories"  name="categoryId" [value]="category.id">{{category.categoryName}}</option>
    </select>
    <button type="submit" class="btn btn-success comentButton">Add Post</button>
    </div>
      
    </form>
    <div *ngIf="addPostCheck" class="alert alert-danger" role="alert">
      Please Fill in all required fields to add a comment
    </div>
  
  <h2>New Topics</h2>
  
  <div routerLink="/comment/{{post.id}}"   class="topics"  *ngFor="let post of posts">
    <img src="{{post?.photoUrl || './assets/user.png'}}" class="rounded-circle userPhoto">
    <div *ngIf="user?.username!=post?.userName" routerLink="/detail/{{post.userName}}" class="username">{{post.userName}}</div>
    <div *ngIf="user?.username==post?.userName" routerLink="/member/edit" class="username">{{post.userName}}</div>
          <div class="TitleContent">
              <div *ngIf="post.content.length >=40" class="PostTitle">{{mediumLongcontent(post.title)}}</div>
              <div *ngIf="post.content.length <40" class="PostTitle">{{post.title}}</div>
              <div *ngIf="post.content.length <100" class="PostContent">{{post.content}}</div>
              <div *ngIf="post.content.length >=100" class="PostContent">{{longContent(post.content)}}</div>
              
          </div>
          <div class="PostCategory">{{post.categoryName}}</div>
          <div class="date">
            {{post?.created | timeago}}
        </div>
  </div>
  <hr style="visibility: hidden;">
  <div class="d-flex justify-content-center" *ngIf="pagination && posts.length >=1 ">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
  </div>

  </div>
  
</div>


