.topics{
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.username{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.TitleContent{
    margin: 10px;
   flex:5;
}
.PostTitle{
    font-size: 20px;
}
.PostContent{
    font-size: 13px;
    flex:5;
}
.username{
    flex:1;
    font-size: 20px;
}
.CommentForm{
    display: flex;
}
.comentButton{
    float: right;
    margin: 10px;
    padding: 10px;
}
.PostCategory{

    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fa-heart{
    font-size:40px;
    padding: 12px;
}
.fa-heart-o{
    font-size:40px;
    padding: 12px;
}
.like{
    display: flex;
    flex-direction: column;
    width: 120px;
    cursor: pointer;
    margin-left: 20px;

}
.likeP{
 cursor: pointer;
}
.date{
    width: 130px;
    margin-right: 10px;
}
.username:hover{
    font-size: 21px;
    text-decoration: underline;
}
.userPhoto{
    width: 60px;
    height: 60px;
    margin: 7px;
}
.category-Button{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
}
.discardBtn{
    height: 50px;

    width: 160px;
}
.fa-times{
    padding: 5px;
}
.deletebtn{
    height: 35px;
    padding: 5px;
    margin: 10px;
}