<div class="topics" *ngIf="isLoaded">
<img src="{{comment?.photoUrl || './assets/user.png'}}" class="rounded-circle userPhoto">
<div *ngIf="user?.username!=comment?.username" routerLink="/detail/{{comment.userName}}" class="username">{{comment.userName}}</div>
<div *ngIf="user?.username==comment?.username" routerLink="/member/edit" class="username">{{comment.userName}}</div>
<div class="TitleContent">
    <div class="PostTitle">{{comment.answer}}</div>
</div>

<div class="like-date">
<div class="date">
    {{comment?.created | timeago}}
</div>
<div class="like"> <i class="likeIcon"  (click)="AddCommentLike(comment)" *ngIf="(accountService.currentUser$ | async) !== null" [classList]="GetCommentIsLike(comment?.id)"  class="  fa-6" ></i>

</div>
<div class="date">
    <p (click)="openRolesModal(user)" class="likeP" *ngIf="likeUsers?.length>0"  >{{likeUsers?.length}} kişi beğendi</p> 
    <p class="likeP" *ngIf="likeUsers?.length===0"  style="margin-bottom: 40px;"></p> 
</div>

</div>

<i *ngIf="IsUserCommentContain(comment.id)" (click)="DeleteComment(comment.id)" class=" fa fa-times fa-lg " aria-hidden="true"></i>
<i style="visibility: hidden;" *ngIf="!IsUserCommentContain(comment.id)"  class=" fa fa-times fa-lg " aria-hidden="true"></i>
</div>